################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
### DotnetCore ###
# .NET Core build folders

/.gitignore
/.vs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/.vs/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/.vs/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/bin/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/.vs/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Test/obj/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Test/bin/
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Test/.vs/
