################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Debug/net8.0/eHandbook.BlazorWebApp.Client.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Debug/net8.0/eHandbook.BlazorWebApp.Client.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Debug/net8.0/eHandbook.BlazorWebApp.Server.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Debug/net8.0/eHandbook.BlazorWebApp.Server.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Debug/net8.0/project.razor.vs.bin
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Debug/net8.0/eHandbook.BlazorWebApp.Shared.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Debug/net8.0/eHandbook.BlazorWebApp.Shared.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.SharedTest/eHandbook.BlazorWebApp.SharedTest/obj/Debug/net8.0/eHandbook.BlazorWebApp.SharedTest.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.SharedTest/eHandbook.BlazorWebApp.SharedTest/obj/Debug/net8.0/eHandbook.BlazorWebApp.SharedTest.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Debug/net8.0/eHandbook.BlazorWebApp.Client.csproj.AssemblyReference.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Debug/net8.0/eHandbook.BlazorWebApp.Server.csproj.AssemblyReference.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.SharedTest/eHandbook.BlazorWebApp.SharedTest/obj/Debug/net8.0/eHandbook.BlazorWebApp.SharedTest.csproj.AssemblyReference.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/eHandbook.BlazorWebApp.Client.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/eHandbook.BlazorWebApp.Client.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/blazor.boot.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/blazor.boot.json.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Client.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Client.pdb.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Client.wasm
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Client.wasm.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Shared.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Shared.pdb.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Shared.wasm
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/bin/Release/net8.0/wwwroot/_framework/eHandbook.BlazorWebApp.Shared.wasm.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/blazor.boot.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/compressed/a1ragr14fa.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/compressed/gdi1euq7lf.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/compressed/n6ltnisrav.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/compressed/pzga38x2rf.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/compressed/vmsyfa5um9.gz
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.csproj.AssemblyReference.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.csproj.BuildWithSkipAnalyzers
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.csproj.FileListAbsolute.txt
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/eHandbook.BlazorWebApp.Client.sourcelink.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/ref/eHandbook.BlazorWebApp.Client.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/refint/eHandbook.BlazorWebApp.Client.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/tmp-webcil/eHandbook.BlazorWebApp.Client.wasm
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/tmp-webcil/eHandbook.BlazorWebApp.Shared.wasm
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/webcil/eHandbook.BlazorWebApp.Client.wasm
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Client/obj/Release/net8.0/webcil/eHandbook.BlazorWebApp.Shared.wasm
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Client.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Client.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Server.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Server.exe
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Server.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/appsettings.Development.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/appsettings.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/BlazorDebugProxy/BrowserDebugHost.runtimeconfig.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/eHandbook.BlazorWebApp.Server.deps.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/eHandbook.BlazorWebApp.Server.runtimeconfig.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/web.config
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/wwwroot/appsettings.Development.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/wwwroot/appsettings.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/pub/wwwroot/_framework/blazor.boot.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/apphost.exe
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.csproj.AssemblyReference.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.csproj.BuildWithSkipAnalyzers
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.csproj.FileListAbsolute.txt
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/eHandbook.BlazorWebApp.Server.sourcelink.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/project.razor.vs.bin
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/ref/eHandbook.BlazorWebApp.Server.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/refint/eHandbook.BlazorWebApp.Server.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Server/obj/Release/net8.0/staticwebassets.build.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/bin/Release/net8.0/eHandbook.BlazorWebApp.Shared.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.AssemblyInfo.cs
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.AssemblyInfoInputs.cache
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.csproj.BuildWithSkipAnalyzers
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.csproj.FileListAbsolute.txt
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.pdb
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/eHandbook.BlazorWebApp.Shared.sourcelink.json
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/ref/eHandbook.BlazorWebApp.Shared.dll
/eHandbook.BlazorWebApp/eHandbook.BlazorWebApp.Shared/obj/Release/net8.0/refint/eHandbook.BlazorWebApp.Shared.dll
